*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: "Rubix", sans-serif; 
}

body {
    height: 100%; 
    background-color: rgb(41, 38, 38) 
}

.container {
    background-color:rgb(200, 205, 207); 
    width: 400px; 
    padding: 50px; 
    position: absolute; 
    transform: transform(-50%, -50%); 
    top: 50%; 
    left: 35%;
    box-shadow: 15px 30px 35px rgba(110, 108, 108, 0.421); 
    border-radius: 10px; 
    -webkit-perspective: 300px; 
    perspective: 300px; 
    border: dashed rgb(22, 22, 212)
}

h1{
    text-align: center; 
    padding-bottom: 5px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

.stats{
    text-align: right; 
    color:rgb(22, 22, 212); 
    font: 25px; 
    line-height: 25px; 
}

/*section for coin images and animations */
.coinimages {
    height: 150px; 
    width: 150px; 
    position: relative; 
    margin: 50px auto; 
    -webkit-transform-style: preserve -3d;
            transform-style: preserve-3d;
    /*animation: spin-heads 3s forwards; testing spin animation*/  
}

.coinimages img{
    width: 300px;
    margin-left: -75px;
    margin-top: -40px; 
 
}

.heads, .tails{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
}

.tails {
    transform: rotateX(180deg); 
}


/*animation transitions*/
@keyframes spin-tails{
    0%{
        transform: rotateX(0); 
    }
    100%{
        transform: rotateX(1980deg); 
    }
}

@keyframes spin-heads{
    0%{
        transform: rotateX(0); 
    }
    100%{
        transform: rotateX(2160deg); 
    }
}

.buttons {
    display: flex; 
    justify-content:space-between;
}

button{
    width: 120px; 
    padding: 10px 0; 
    border: 2.5px solid rgb(24, 86, 243);
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 55px; 
}

#coinflip-button{
    background-color: black; 
    color: rgb(249, 194, 14);  
}

#coinflip-botton:disabled{
    background-color: white; 
    border-color: white; 
    color: grey; 
}

#reset-button{
    background-color: black; 
    color:rgb(249, 194, 14); 
}
